.grid {
    background-color: #ddd;
    padding: 20px;
    margin: 50px auto;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px 20px;
}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    background-color: #2196f3;
}

.eight {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.two {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.three {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.four {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.five {
    grid-area: 3 / 2 / 6 / 4;
}

.six {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}
.seven {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
}

.one {
    grid-column: 1 / span 3;
    grid-row: 6 / span 1;
}