* {
    box-sizing: border-box;
}

div {
    display: flex;
}

.parent {
    width: 600px;
    height: 300px;
    margin: 50px auto;
    padding: 10px;
    background-color: #eee;
    flex-wrap: wrap;
    justify-content: space-between;
}

.parent div {
    height: 50%;
    width: calc(80% / 4);
    justify-content: center;
    align-items: center;
    color: white;
    
}

.four , .two {
    flex-direction: column;
    align-self: flex-end;
}


.two {
    background-color: #8bc34a;
    order: 3;
}

.three {
    background-color: #795548;
    order: 4;
}

.four {
    background-color: #673ab7;
    order: 1;
}

.one {
    background-color: #ff9800;
    order: 2;
}