div {
    padding: 10px;
    margin: 10px;
    text-align: center;
    vertical-align: center;   
}

a {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    background-color: rgb(54, 143, 115);
    border-bottom: rgba(0, 0, 0, 0.579);
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

