.shape-1 {
    width: 400px;
    background-color: rgba(209, 206, 206, 0.31);
    padding: 5px;
    margin: 20px;
    border-left-color: rgba(225, 73, 73, 0.947);
    border-left-style: solid;
    border-left-width: 5px;
    outline-color: rgba(209, 206, 206, 0.31);
    outline-style: solid;
    outline-width: 10px;
}
.shape-2 {
    width: 400px;
    background-color: rgba(209, 206, 206, 0.31);
    padding: 5px;
    margin: 20px;
    border-left-color: rgba(225, 73, 73, 0.947);
    border-left-style: solid;
    border-left-width: 5px;
    outline-color: rgba(209, 206, 206, 0.31);
    outline-style: solid;
    outline-width: 10px;
    visibility: hidden;
}
.shape-3 {
    width: 400px;
    background-color: rgba(209, 206, 206, 0.31);
    padding: 5px;
    margin: 20px;
    border-left-color: rgb(36, 153, 97);
    border-left-style: solid;
    border-left-width: 5px;
    outline-color: rgba(209, 206, 206, 0.31);
    outline-style: solid;
    outline-width: 10px;
}