.grid {
    background-color: #ddd;
    padding: 20px;
    margin: 30px auto;
    width: 800px;
    height: 400px;
    display: grid;
    position: relative;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 50px 1fr;
    grid-gap: 20px 20px;
}

.grid div {
    content: "Element";
    background-color: #607d8b;
    counter-increment: my-counter;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid div::before {
    position: absolute;
    content: "Element " counter(my-counter);
    color: white;
    display: flex;
    font-weight: bold;
}

