p {
    margin: 15px auto;
    padding: 10px;
    background-color: #EEE;
    width: 350px;
    border-right: 4px solid rgb(239, 73, 13);
    counter-increment: my-counter;
    position: relative;
}

p::before {
    position: absolute;
    content: counter(my-counter);
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(239, 73, 13);
    padding: 10px;
    top: 0px;
    left: -40px;
    margin: 0 0 15px 0;
}